@import "shared.css";

/* IN GAME SELECTOR: styles applied to garage instances in the game selector */
.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.12);
  z-index: 100;
  cursor: pointer;
}
.overlay:hover {
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0px 0px 7px 2px #38C2ED;
  -moz-box-shadow: 0px 0px 7px 2px #38C2ED;
  box-shadow: 0px 0px 7px 2px #38C2ED;
}

.overlay .gameId {
  font-size: 1em;
  float: right;
  margin: 6px;
}

@media (min-width: 1200px) {
  .overlay, .root {
    width: 240px;
    height: 240px;
    border-radius: 7px;
  }

  .cell {
    height: 40px;
    width: 40px;
  }

  .carId{
    font-size: .9em;
  }

  .x1 {
    top: 40px;
  }
  .x2 {
    top: 80px;
  }
  .x3 {
    top: 120px;
  }
  .x4 {
    top: 160px;
  }
  .x5 {
    top: 200px;
  }

  .y1 {
    left: 40px;
  }
  .y2 {
    left: 80px;
  }
  .y3 {
    left: 120px;
  }
  .y4 {
    left: 160px;
  }
  .y5 {
    left: 200px;
  }

  .car {
    margin: 4px;
    border-radius: 6px;
  }

  .car.vertical {
    width: 32px;
  }

  .car.vertical.c3 {
    height: 111px;
  }

  .car.vertical.c2 {
    height: 72px;
  }

  .car.vertical .carId { /*TODO tweak it*/
    left: 0;
    right: 0;
    text-align: center;
    top: 10px;
  }

  .car.horizontal {
    height: 32px;
    margin-left: 4px;
  }

  .car.horizontal.c3 {
    width: 111px;
  }

  .car.horizontal.c2 {
    width: 72px;
  }

  .car.horizontal .carId { /*TODO tweak it*/
    top: 0;
    bottom: 0;
    right: 15px;
    position: absolute;
    line-height: 35px;
  }

  .car.focused {
    -webkit-box-shadow: 0px 0px 5px 3px #fff;
    -moz-box-shadow: 0px 0px 5px 3px #fff;
    box-shadow: 0px 0px 5px 3px #fff;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .overlay, .root {
    width: 288px;
    height: 288px;
    border-radius: 8px;
  }

  .cell {
    height: 48px;
    width: 48px;
  }

  .carId{
    font-size: .9em;
  }

  .x1 {
    top: 48px;
  }
  .x2 {
    top: 96px;
  }
  .x3 {
    top: 144px;
  }
  .x4 {
    top: 192px;
  }
  .x5 {
    top: 240px;
  }

  .y1 {
    left: 48px;
  }
  .y2 {
    left: 96px;
  }
  .y3 {
    left: 144px;
  }
  .y4 {
    left: 192px;
  }
  .y5 {
    left: 240px;
  }

  .car {
    margin: 5px;
    border-radius: 6px;
  }

  .car.vertical {
    width: 38px;
  }

  .car.vertical.c3 {
    height: 133px;
  }

  .car.vertical.c2 {
    height: 85px;
  }

  .car.vertical .carId {
    left: 0;
    right: 0;
    text-align: center;
    top: 13px;
  }

  .car.horizontal {
    height: 38px;
    margin-left: 5px;
  }

  .car.horizontal.c3 {
    width: 134px;
  }

  .car.horizontal.c2 {
    width: 86px;
  }

  .car.horizontal .carId {
    top: 0;
    bottom: 0;
    right: 15px;
    position: absolute;
    line-height: 36px;
  }

  .car.focused {
    -webkit-box-shadow: 0px 0px 5px 3px #fff;
    -moz-box-shadow: 0px 0px 5px 3px #fff;
    box-shadow: 0px 0px 5px 3px #fff;
  }
}

@media /*(min-width: 768px) and */(max-width: 991px){
  .overlay, .root {
    width: 330px;
    height: 330px;
    border-radius: 8px;

    /* Centering games when displayed in a single column */
    left: 50%;
    margin-left: -165px;
  }

  .cell {
    height: 55px;
    width: 55px;
  }

  .carId{
    font-size: 1em;
  }

  .x1 {
    top: 55px;
  }
  .x2 {
    top: 110px;
  }
  .x3 {
    top: 165px;
  }
  .x4 {
    top: 220px;
  }
  .x5 {
    top: 275px;
  }

  .y1 {
    left: 55px;
  }
  .y2 {
    left: 110px;
  }
  .y3 {
    left: 165px;
  }
  .y4 {
    left: 220px;
  }
  .y5 {
    left: 275px;
  }

  .car {
    margin: 5px;
    border-radius: 8px;
  }

  .car.vertical {
    width: 44px;
  }

  .car.vertical.c3 {
    height: 155px;
  }

  .car.vertical.c2 {
    height: 100px;
  }

  .car.vertical .carId {
    left: 0;
    right: 0;
    text-align: center;
    top: 15px;
  }

  .car.horizontal {
    height: 45px;
    margin-left: 5px;
  }

  .car.horizontal.c3 {
    width: 154px;
  }

  .car.horizontal.c2 {
    width: 100px;
  }

  .car.horizontal .carId {
    top: 0;
    bottom: 0;
    right: 20px;
    position: absolute;
    line-height: 41px;
  }

  .car.focused {
    -webkit-box-shadow: 0px 0px 5px 3px #fff;
    -moz-box-shadow: 0px 0px 5px 3px #fff;
    box-shadow: 0px 0px 5px 3px #fff;
  }
}

.solvedGame {
  background: #4CAF50;
  opacity: .9;
  font-size: 1em;
  padding: .5em;
  margin: 5px;
  position: absolute;
  right: 0;
  top: auto;
  bottom: 0;
  height: 2em;
}
/*
@media (min-width: 1200px) {
  .overlay, .root {
    width: 228px;
    height: 228px;
    border-radius: 7px;
  }

  .cell {
    height: 38px;
    width: 38px;
  }

  .carId{
    font-size: .9em;
  }

  .x1 {
    top: 38px;
  }
  .x2 {
    top: 76px;
  }
  .x3 {
    top: 114px;
  }
  .x4 {
    top: 152px;
  }
  .x5 {
    top: 190px;
  }

  .y1 {
    left: 38px;
  }
  .y2 {
    left: 76px;
  }
  .y3 {
    left: 114px;
  }
  .y4 {
    left: 152px;
  }
  .y5 {
    left: 190px;
  }

  .car {
    margin: 4px;
    border-radius: 6px;
  }

  .car.vertical {
    width: 31px;
  }

  .car.vertical.c3 {
    height: 106px;
  }

  .car.vertical.c2 {
    height: 68px;
  }

  .car.vertical .carId {
    left: 0;
    right: 0;
    text-align: center;
    top: 10px;
  }

  .car.horizontal {
    height: 30px;
    margin-left: 4px;
  }

  .car.horizontal.c3 {
    width: 106px;
  }

  .car.horizontal.c2 {
    width: 68px;
  }

  .car.horizontal .carId {
    top: 0;
    bottom: 0;
    right: 15px;
    position: absolute;
    line-height: 34px;
  }

  .car.focused {
    -webkit-box-shadow: 0px 0px 5px 3px #fff;
    -moz-box-shadow: 0px 0px 5px 3px #fff;
    box-shadow: 0px 0px 5px 3px #fff;
  }
}
*/